body {
  font-family: 'TisaSansPro', sans-serif;
  padding: 0;
  min-height: 100vh;
  background-image: url("images/swirl.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-logo {
  margin-top: 3em;
}

.main-logo h1 {
  font-size: 80px;
  font-family: 'Noteworthy';
  font-weight: normal;
  color: #0731d5;
  text-align: center;
  line-height: 60px;
  margin-left: -1.25em;
}

.main-logo h2 {
  font-size: 80px;
  font-family: 'Noteworthy';
  font-weight: normal;
  color: #0731d5;
  text-align: center;
  line-height: 60px;
  margin-left: -1em;
}

.main-logo h5 {
  font-size: 80px;
  font-family: 'Noteworthy';
  font-weight: normal;
  color: #0731d5;
  text-align: center;
  line-height: 60px;
  margin-left: -1.75em;
}

.landing h3 {
  text-align: center;
  font-size: 36px;
  line-height: 45px;
  font-weight: 400;
  margin-left: -3em;
}

.landing h4 {
  text-align: center;
  font-size: 36px;
  line-height: 35px;
  font-weight: 400;
  margin-left: -5em;
}

.landing h1 {
  margin-left: -.35em;
  margin-top: -.6em;
  line-height: 20px;
  font-size: 72px;
}

.view-quote {
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 0em 1em 0em 1em;
  padding: 2em 1em 2em 1em;
}

.view-quote h5 {
  font-family: 'Noteworthy';
  text-align: center;
  font-size: 20px;
  margin-top: .5em;
  margin-bottom: 1em;
}

.view-quote h4 {
  text-align: center;
  font-size: 22px;
  line-height: 28px;
  margin: 0em 1em 0em 1em;
}

.quoticon {
  margin-top: 2em;
  margin-right: 1em;
  margin-left: 1em;
}

.arrowicon {
  color: #769b1a;
  margin: 12px;
}

.new-input {
  margin: 1em;
}

.place::placeholder {
  font-size: 10px;
}

button {
  margin-left: 1em;
  text-align: center;
}

.update {
  text-align: center;
}

label {
  font-weight: normal;
}

.search {
  padding: 4px;
  font-size: 12px;
  margin-left: 0em;
}

// dropdown-menu

.navbar-nav > li > .dropdown-menu {
  margin-top: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  left: 50%;
  right: auto;
  text-align: left;
  transform: translate(-50%, 0);
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 50%;
  right: auto;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.nav-color {
  background-color: #769b1a;
}

#title {
  color: white;
}

#drop-sub {
  color: white;
}

#drop-sub:hover {
  color: #0731d5;
}

.navbar-toggle,
.icon-bar {
  border: 1px solid white;
}

.list-group {
  margin-left: 1em;
  margin-right: 1em;
}

.faicon {
  margin-right: 10px;
}
